/* @!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!@ */
/* Shift on press effect for buttons */
/* @!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!@ */


/* ----------- */
/* GTK Buttons */
/* ----------- */

/* Buttons! */
button:active box, button:checked box, button:checked:disabled box,
button.flat:active > *, button.flat:checked > *, button.flat:checked:disabled > *,
button.text-button:active > *, button.text-button:checked > *, button.text-button:checked:disabled > *,
button.image-button:active > *, button.image-button:checked > *, button.image-button:checked:disabled > *,
button.flat.image-button:active > *, button.flat.image-button:checked > *, button.flat.image-button:checked:disabled > *
{
    margin-top: 1px;
    margin-bottom: -1px;
    margin-left: 1px;
    margin-right: -1px;
}


/* Edge Cases */

/* Font selector buttons get a double dose of shifting on second label: Negate! */
button.font:active > box > box > label, button.font:checked > box > box > label, button.font:checked:disabled > box > box > label {
    margin-top: -1px;
    margin-bottom: 1px;
    margin-left: -1px;
    margin-right: 1px;
}

/*  Text buttons... Something is warping certain dialogs when shifting down and I'm unsure as to where
    that is as of now. Get half-way working by at least shifting right! */
.dialog-action-area.horizontal > button.text-button:active label,
.dialog-action-area.horizontal > button.text-button:checked label,
.dialog-action-area.horizontal > button.text-button:checked:disabled label,
.dialog-action-box.horizontal buttonbox button.text-button:active label,
.dialog-action-box.horizontal buttonbox button.text-button:checked label,
.dialog-action-box.horizontal buttonbox button.text-button:checked:disabled label {
    margin-top: 0px;
}


/* Hacks!!! */

/* Handbrake "To: button and I'm sure other things. This totally fixes it! */
grid button:active > box, grid button:checked > box, grid button:checked:disabled box {
    margin: 0px;
    margin-top: 0px;
    margin-bottom: -2px;
    margin-left: 1px;
    margin-right: -1px;
}



/* ----------- */
/* GTK Buttons */
/* ----------- */


/* ------------ */
/* Xfce Plugins */
/* ------------ */


/* Prevent Clock from being pushed! */
#XfcePanelWindow #clock-button:checked box {
	margin: 0px;
	margin-bottom: 0px;
}


/* Same for Date/Time plugin... */
#datetime-1 button box, #datetime-2 button box, #datetime-3 button box, #datetime-4 button box,
#datetime-5 button box, #datetime-6 button box, #datetime-7 button box, #datetime-8 button box,
#datetime-9 button box, #datetime-10 button box, #datetime-11 button box, #datetime-12 button box,
#datetime-13 button box, #datetime-14 button box, #datetime-15 button box, 
#datetime-16 button box, #datetime-17 button box, #datetime-18 button box, #datetime-19 button box,
#datetime-20 button box, #datetime-21 button box, #datetime-22 button box, #datetime-23 button box, 
#datetime-24 button box, #datetime-25 button box, #datetime-26 button box, #datetime-27 button box, 
#datetime-28 button box, #datetime-29 button box, #datetime-30 button box, #datetime-31 button box, 
#datetime-32 button box, #datetime-33 button box, #datetime-34 button box, #datetime-35 button box, 
#datetime-36 button box, #datetime-37 button box, #datetime-38 button box, #datetime-39 button box, 
#datetime-40 button box, #datetime-41 button box, #datetime-42 button box, #datetime-43 button box,
#datetime-44 button box, #datetime-45 button box, #datetime-46 button box, #datetime-47 button box, 
#datetime-48 button box, #datetime-49 button box, #datetime-50 button box, #datetime-51 button box, 
#datetime-52 button box, #datetime-53 button box, #datetime-54 button box, #datetime-55 button box, 
#datetime-56 button box, #datetime-57 button box, #datetime-58 button box, #datetime-59 button box, 
#datetime-60 button box, #datetime-61 button box, #datetime-62 button box, #datetime-63 button box, 
#datetime-64 button box, #datetime-65 button box, #datetime-66 button box, #datetime-67 button box,
#datetime-68 button box, #datetime-69 button box, #datetime-70 button box, #datetime-71 button box, 
#datetime-72 button box, #datetime-73 button box, #datetime-74 button box, #datetime-75 button box, 
#datetime-76 button box, #datetime-77 button box, #datetime-78 button box, #datetime-79 button box, 
#datetime-80 button box, #datetime-81 button box, #datetime-82 button box, #datetime-83 button box, 
#datetime-84 button box, #datetime-85 button box, #datetime-86 button box, #datetime-87 button box, 
#datetime-88 button box, #datetime-89 button box, #datetime-90 button box, #datetime-91 button box,
#datetime-92 button box, #datetime-93 button box, #datetime-94 button box, #datetime-95 button box, 
#datetime-96 button box, #datetime-97 button box, #datetime-98 button box, #datetime-99 button box {
	margin: 0px;
}


/* Docklike Plugin Icons */
#docklike-plugin.horizontal .active_group image, #docklike-plugin.vertical .active_group image {
    margin-top: 1px;
    margin-bottom: -1px;
    margin-left: 1px;
    margin-right: -1px;
}


/* PulseAudio Horizontal Button: Make inert! */
#pulseaudio-button:checked image {
    margin: 0px;
    margin-bottom: -1px;
    margin-right: 1px;
    margin-left: 0px;
}

/* PulseAudio Vertical Button: Depress like a button! */
#docklike-plugin.horizontal .active_group 
#pulseaudio-button:active .vertical > image, #pulseaudio-button:checked .vertical > image {
    margin-left: 1px;
    margin-right: -1px;
    margin-top: 1px;
}


/* General Hack to fix doubled shift from something */
#xfce-panel-toggle-button:checked image {
    margin-top: -1px;
    margin-bottom: 1px;
    margin-left: -1px;
    margin-right: 1px;
}


/* ------------ */
/* Xfce Plugins */
/* ------------ */

